 /*  Background color:       #3a4a58/  #339966
    Title color:            #996633 / #8c8c8c;
    Text color:             #666666
    Text Dark color:        #333333
    Table Heading color:    #C4CDD6
    Table Alternate color:  #e5e8ed 
*/

body {
   background-color: #339966;
  color: #8c8c8c;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding: 15px;
  margin: 0;
}

.gw-container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.gw-main-content { background-color: #ffffff; }

#gw-intro-img {
  background-image: url(img01.jpeg);
  background-position: center;
  background-size: cover;
  min-height: 350px;

}

.gw-text-white { color: white; }

.gw-page-header-container { text-align: center; }

.gw-page-header {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 2.1rem;
  font-weight: 400;
}

.gw-page-icon {
  display: inline-block;
  vertical-align: baseline;
  padding: 15px;
}
/* subscribe prat ...................*/
 
#gw-subscribe {
  background: #255B5C;
  border-radius: 10px;
  padding: 1px; 
}

.tm-contact-link {
  color: #255B5C;
  font-weight: 600;
  text-decoration: none;
}

a { transition: all 0.3s ease; }
.tm-contact-link:hover { color: #DBAA4B; }

}
 
